# folder
build/
config/
config_1/
config_2/
config_3/
config_4/
config_5/
config_6/
config_7/
config_8/
config_9/
config_10/
.vscode/ipch/

# file
bin/CodeCraft-2019
CodeCraft-code.tar.gz
test_bk.txt
test.1.txt
test.2.txt
test.3.txt
test.txt
