# folder
config/
config_1/
config_2/
config_3/
config_4/
config_5/
config_6/
config_7/
config_8/
config_9/
config_10/
config_train_1/
config_train_2/
2-map-training-1/
2-map-training-2/
.vscode/ipch/

# file
bin/CodeCraft-2019
build/*
!build/Makefile
CodeCraft-code.tar.gz
test_bk.txt
test.1.txt
test.2.txt
test.3.txt
test.txt
.vscode/settings.json
config_train_1/answer.txt
bin/CodeCraft-2019.exe
